@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: whitesmoke;
}

.card {
    width: 360px;
    background: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 10px 10px 20px #333;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    border-radius: 16px;
    z-index: -1;
}
.card::before {
    width: 90%;
    height: 120%;
    background-color: #4A4AE4aa;
    top: -10%;
    left: 20%;
    box-shadow: 15px 15px 20px #333;
}
.card::after {
    background: linear-gradient(90deg, #F073C8aa 0%, #FF6A95aa 99%);
    width: 8rem;
    height: 8rem;
    left: -5%;
    bottom: -5%;
    z-index: -2;
    box-shadow: 10px 10px 20px #333;
}
.top-section {
    height: 310px;
    overflow: hidden;
    background: #fff;
    position: relative;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


#image-container {
    max-width: 400px;
    max-height: 240px;
    width: auto;
    height: auto;  
    margin-left: 60px;
}



.nav {
    text-align: center;
}

.nav img {
    width: 80px;
    height: 50px;
    border: 1px solid #ddd;
    margin: 8px 2px;
    cursor: pointer;
    transition: 0.3s;
}
.nav img:hover {
    border-color: rgb(0, 90, 35);  
}

.product-info {
    padding: 10px 24px 24px 24px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.name {
    margin-top: 1px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    color: #333;
}

.price {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bolder;
    color: rgb(0, 70, 15);
    font-family: 'Montserrat', sans-serif, bolder;
    position: relative;
    padding-left: 52px;
}

.description {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
    text-align: justify;
}

.btn {
    display: block;
    background: rgb(0, 90, 35);
    text-align: center;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    transition: transform .15s;
}

.btn:hover {
    transform: scale(1.05);
}
